<!--::chefs_part start::-->
<section class="chefs_part blog_item_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Team Member</p>
                    <h2>Our Plat</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4" style="margin:  auto;">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        
                        <img src="assets/img/food_menu/12.jfif" alt="">
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>{{findedPlat?.name}}</h3> 
                        <h3>{{findedPlat?.price}}</h3>
                        <p>{{findedPlat?.description}}</p>
                       
                    </div>
                </div>
            </div>
            
            
           
        </div>
    </div>
</section>
<!--::chefs_part end::-->


